# This is a basic workflow to help you get started with Actions

name: building the package for SWI Prolog

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: install SWI Prolog and liblmdb
        run: |
          sudo apt-add-repository ppa:swi-prolog/stable
          sudo apt-get update
          sudo apt-get -y install swi-prolog liblmdb-dev
      - name: autoconf
        run: aclocal --force && autoheader --force && autoconf --force
      - name: configure
        run: ./configure
      - name: make swi
        run: make swi
      - name: installation
        run: |
          mkdir -v -p ${HOME}/lib/sbcl
          mkdir -v -p ${HOME}/.config/swi-prolog
          cp -v pllmdb-Linux ${HOME}/lib/sbcl/pllmdb
          cp -v src/lmdb.qlf ${HOME}/lib/sbcl/
          echo ":- assertz(file_search_path(sbcl,'${HOME}/lib/sbcl'))." >> ${HOME}/.config/swi-prolog/init.pl
          echo ":- assertz(file_search_path(sbcl,'${HOME}/lib/sbcl'))." >> ${HOME}/.swiplrc
      - name: make check
        run: make check

